@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer {
    max-width: 100%;
    margin: 0 8% 0 23%;
    padding: 0 15px;
  }

  &__comments {
    max-width: 100%;
    margin: 0 8% 0 23%;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }
  &__toc {
    position: fixed;
    top: 6rem;
    left: 2rem;
    @media (max-width: 1023px) {
      display: none;
    }
    &-list {
      text-decoration: non;
      width: 320px;
      padding: 30px 0px;
      margin: 0;
      position: absolute;
      // right: -20em;
      @media (max-width: 1599px) {
        // right: -74rem;
        width: 15rem;
      }
      @media (max-width: 1399px) {
        // right: -72rem;
        width: 15rem;
      }
      @media (max-width: 1025px) {
        // right: -14rem; 
        width: 12rem;
      }
      &-item {
        list-style: none;
        margin: 0px;
        padding: 0.15em 0.75rem;
        color: #adb5bd;

        &.active {
          color: black;
          font-weight: 500;
          &::before {
            content: "{ ";
          }
          &::after {
            content: " }";
          }
        }
        &-link {
          color: inherit;
          &:hover {
            color: inherit;
            font-weight: 0;
          }
          &:focus,
          &:active {
            color: inherit;
          }
        }
      }
    }
  }
}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px
    }

  }
  &__toc {
    position: fixed;
    top: 0;
    font-size: 0.75rem;
    @media (max-width: 1000px) {
      // display: none;
    }
    &-list {
      text-decoration: non;
      width: 320px;
      padding: 30px 0px;
      margin: 0;
      position: absolute;
      right: -20em;
      @media (max-width: 1599px) {
        right: -4rem;
        width: 10rem;
      }
      @media (max-width: 1399px) {
        right: -12rem;
      }
      &-item {
        list-style: none;
        margin: 0px;
        padding: 0.15em 0.75rem;
        color: #adb5bd;

        &.active {
          color: black;
          font-weight: 500;
          &::before {
            content: "{ ";
          }
          &::after {
            content: " }";
          }
        }
        &-link {
          color: inherit;
          &:hover {
            color: inherit;
            font-weight: 0;
          }
          &:focus,
          &:active {
            color: inherit;
          }
        }
      }
    }
  }
}